"*":
  "atom-clock":
    dateFormat: "dddd, Do MMMM YYYY, HH:mm:ss"
    refreshInterval: 1
  "atom-ctags":
    autoBuildTagsWhenActive: true
  "atom-ternjs":
    caseInsensitive: false
    guess: false
  "autocomplete-modules":
    babelPluginModuleResolver: true
    vendors: [
      "web-app/node_modules"
    ]
    webpack: true
    webpackConfigFilename: "web-app/internals/webpack/webpack.config.development.js"
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
    maxVisibleSuggestions: 30
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "symbols-view"
      "language-gfm"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "highlight-selected"
      "es-identifier-highlight"
      "markdown-preview-plus"
      "clipboard-history"
    ]
    reopenProjectMenuCount: 45
    telemetryConsent: "no"
    warnOnLargeFileLimit: 20
  "double-tag": {}
  editor:
    invisibles: {}
    lineHeight: 1.05
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
    undoGroupingInterval: 200
  "es-identifier-highlight":
    minimapLine: false
  "exception-reporting":
    userId: "14290ab0-5dc1-86ae-5dd5-ed0be4044d11"
  "flow-ide":
    executablePath: "flow"
  "foldername-tabs": {}
  "fuzzy-finder":
    preserveLastSearch: true
  "git-blame":
    columnWidth: 311
    ignoreWhiteSpaceDiffs: true
    showOnlyLastNames: true
  "git-diff": {}
  "git-log": {}
  github:
    filesystemEventDiagnostics: true
    gitDiagnostics: true
    performanceToConsole: true
  "github-issues": {}
  "highlight-column":
    opacity: 0.05
  "highlight-selected":
    hideHighlightOnSelectedWord: true
  hyperclick:
    linuxTriggerKeys: "shiftKey,ctrlKey"
  "js-hyperclick":
    extensions: [
      ".js"
      ".jsx"
      ".json"
      ".node"
    ]
    jumpToImport: true
  linter: {}
  "linter-eslint":
    fixOnSave: true
  "linter-ui-default":
    decorateOnTreeView: "Files and Directories"
    hidePanelWhenEmpty: true
    panelHeight: 69
    panelRepresents: "Entire Project"
    showPanel: true
    showProviderName: true
    statusBarRepresents: "Entire Project"
    tooltipFollows: "Keyboard"
  "markdown-preview-plus":
    breakOnSingleNewline: true
    useGitHubStyle: true
  minimap:
    absoluteMode: true
    charHeight: 0.8
    charWidth: 0.7
    displayPluginsControls: false
    minimapScrollIndicator: false
    moveCursorOnMinimapClick: true
    plugins:
      "highlight-selected": true
    scrollAnimation: true
    scrollAnimationDuration: 100
    textOpacity: 1
  "minimap-codeglance":
    decorations: false
    numberOfLines: 10
  "minimap-git-diff":
    useGutterDecoration: true
  "minimap-linter": {}
  "nav-panel":
    sort: false
  "number-slider":
    enabledByDefault: true
  "one-dark-ui":
    tabSizing: "Even"
  "open-recent": {}
  "pinned-tabs":
    animated: true
    closeUnpinned: true
  "prettier-atom":
    bracketSpacing: false
    formatOnSave: true
    printWidth: 120
    singleQuote: true
    tabWidth: 4
  react:
    enabledForAllJavascriptFiles: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
    syncHorizontalScroll: true
  "svg-preview":
    openPreviewAutomatically: true
  "terminal-plus":
    core:
      workingDirectory: "Active File"
    style: {}
  "tool-bar":
    fullWidth: false
    iconSize: "16px"
    visible: false
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    squashDirectoryNames: true
  "tree-view-auto-fold":
    hideAllExceptModifiedFiles: false
    hideAllExceptOpenFiles: false
    showAutoFoldedFolderIndicator: false
    showOpenFileIndicator: false
  "tree-view-autoresize":
    animationMilliseconds: 0
    delayMilliseconds: 0
    maximumWidth: 300
  "tree-view-camel-case-spaces": {}
  "tree-view-git-branch":
    location: "top"
    separator: true
  "tree-view-git-status": {}
  "tree-view-search-bar":
    autoToggle: false
  "tree-view-sort":
    descending: true
    type: 6
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    preferredLineLength: 12
    tabLength: 4
".babel.regexp.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".camlp4.ocaml.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".coffee.jsx.source":
  editor:
    autoIndentOnPaste: true
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    tabLength: 4
".css.source.styled":
  editor:
    preferredLineLength: 120
    tabLength: 4
".grails.html.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".groovy.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".hack.html.text":
  editor:
    preferredLineLength: 12
    tabLength: 4
".hackfragment.source":
  editor:
    preferredLineLength: 12
    tabLength: 4
".hg-commit.text":
  editor:
    preferredLineLength: 12
    tabLength: 4
".hover.reason.source.type":
  editor:
    preferredLineLength: 110
    tabLength: 4
".ini.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.jsx.source":
  editor:
    autoIndentOnPaste: false
    preferredLineLength: 120
    scrollPastEnd: false
    showIndentGuide: true
    softWrap: false
    tabLength: 4
".languagebabel.ttlextension":
  editor:
    preferredLineLength: 120
    tabLength: 4
".md.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".menhir.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".ocaml.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".ocamllex.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".reason.source":
  editor:
    preferredLineLength: 110
    tabLength: 4
