"*":
  "atom-ctags":
    autoBuildTagsWhenActive: true
  "atom-package-deps":
    ignored: []
  "autocomplete-modules":
    babelPluginModuleResolver: true
    vendors: [
      "web-app/node_modules"
    ]
    webpack: true
    webpackConfigFilename: "web-app/internals/webpack/webpack.config.development.js"
  "autocomplete-plus": {}
  "bracket-matcher":
    autocompleteCharacters: [
      "()"
      "[]"
      "{}"
      "\"\""
      "''"
      "``"
      "“”"
      "‘’"
      "«»"
      "‹›"
      "<>"
    ]
    highlightMatchingLineNumber: true
    pairsWithExtraNewline: [
      "()"
      "[]"
      "{}"
      "``"
    ]
  "color-picker":
    abbreviateValues: true
    preferredFormat: "HEX"
    uppercaseColorValues: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "symbols-view"
      "language-gfm"
      "spell-check"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "highlight-selected"
      "markdown-preview-plus"
      "color-picker"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    warnOnLargeFileLimit: 20
  "coverage-gutter":
    basePath: "/home/adv/adverity/web-app/"
    pathToLCOV: "/home/adv/adverity/web-app/coverage/lcov.info"
  "cursor-indicator": {}
  "double-tag": {}
  editor:
    fontSize: 13
    invisibles: {}
    lineHeight: 1.05
    maxScreenLineLength: 5000
    preferredLineLength: 120
    scrollPastEnd: true
    scrollSensitivity: 100
    tabLength: 4
    undoGroupingInterval: 200
    zoomFontWhenCtrlScrolling: false
  "es-identifier-highlight":
    minimapLine: false
  "exception-reporting":
    userId: "14290ab0-5dc1-86ae-5dd5-ed0be4044d11"
  "file-icons": {}
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "right"
    scrollToResultOnLiveSearch: true
  firacode:
    fontWeight: "regular"
    scopes: [
      "*"
    ]
  "flow-ide":
    executablePath: "/home/adv/adverity/web-app/node_modules/flow-bin/cli.js"
    hyperclickPriority: 7
  "fold-functions": {}
  "foldername-tabs": {}
  "fuzzy-finder":
    preserveLastSearch: true
  "git-blame":
    columnWidth: 153
    dateFormatString: "DD.MM.YYYY"
    ignoreWhiteSpaceDiffs: true
    showHash: false
    showOnlyLastNames: true
  "git-diff": {}
  "git-log": {}
  github: {}
  "github-issues": {}
  hasklig:
    fontWeight: "extra-light"
    scopes: [
      "*"
    ]
  "highlight-column":
    opacity: 0.05
  "highlight-selected":
    hideHighlightOnSelectedWord: true
  hyperclick:
    linuxTriggerKeys: "shiftKey,ctrlKey"
  "js-hyperclick":
    extensions: [
      ".js"
      ".jsx"
      ".json"
      ".node"
    ]
    jumpToImport: true
    usePendingPanes: true
  "language-babel": {}
  "lcov-info":
    highlightType: "gutter"
  linter: {}
  "linter-eslint":
    fixOnSave: true
  "linter-ui-default":
    decorateOnTreeView: "Files and Directories"
    hidePanelWhenEmpty: true
    panelHeight: -28
    panelRepresents: "Entire Project"
    showPanel: true
    showProviderName: true
    statusBarRepresents: "Entire Project"
    tooltipFollows: "Keyboard"
  "markdown-preview-plus":
    breakOnSingleNewline: true
    useGitHubStyle: true
  minimap:
    absoluteMode: true
    charHeight: 0.8
    charWidth: 0.7
    displayPluginsControls: false
    minimapScrollIndicator: false
    moveCursorOnMinimapClick: true
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
    scrollAnimation: true
    scrollAnimationDuration: 100
    textOpacity: 1
  "minimap-codeglance":
    decorations: false
    numberOfLines: 10
  "minimap-git-diff":
    useGutterDecoration: true
  "minimap-linter": {}
  "minimap-plus":
    absoluteMode: true
    charHeight: 1
    charWidth: 0.707106781
    displayPluginsControls: false
    redrawDelay: 400
    scrollAnimationDuration: 400
  "nav-panel":
    sort: false
  "number-slider":
    enabledByDefault: true
  "one-dark-ui": {}
  "open-recent": {}
  pigments:
    extendAutocompleteToColorValue: true
  "pinned-tabs":
    animated: true
    closeUnpinned: true
  "prettier-atom":
    bracketSpacing: false
    formatOnSave: true
    printWidth: 120
    singleQuote: true
    tabWidth: 4
  "quick-scroll": {}
  react:
    enabledForAllJavascriptFiles: true
  "slim-dark-ui":
    layoutMode: "Compact"
  "spell-check": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
    syncHorizontalScroll: true
  "status-bar-blame": {}
  "svg-preview":
    openPreviewAutomatically: true
  "tab-foldername-index": {}
  "tab-title": {}
  "terminal-plus":
    core:
      workingDirectory: "Active File"
    style: {}
  "tool-bar":
    fullWidth: false
    iconSize: "16px"
    visible: false
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    focusOnReveal: false
    squashDirectoryNames: true
  "tree-view-auto-fold":
    hideAllExceptModifiedFiles: false
    hideAllExceptOpenFiles: false
    showAutoFoldedFolderIndicator: false
    showOpenFileIndicator: false
  "tree-view-autoresize":
    animationMilliseconds: 3000
    delayMilliseconds: 0
    maximumWidth: 300
  "tree-view-camel-case-spaces": {}
  "tree-view-git-branch":
    location: "top"
    separator: true
  "tree-view-git-status": {}
  "tree-view-search-bar":
    autoToggle: false
  "tree-view-sort":
    descending: true
    type: 6
  welcome:
    showOnStartup: false
".ansi.text":
  editor:
    preferredLineLength: 12
    tabLength: 4
".babel.regexp.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".camlp4.ocaml.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".coffee.jsx.source":
  editor:
    autoIndentOnPaste: true
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    tabLength: 4
".css.source.styled":
  editor:
    preferredLineLength: 120
    tabLength: 4
".grails.html.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".groovy.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".hack.html.text":
  editor:
    preferredLineLength: 12
    tabLength: 4
".hackfragment.source":
  editor:
    preferredLineLength: 12
    tabLength: 4
".hg-commit.text":
  editor:
    preferredLineLength: 12
    tabLength: 4
".hover.reason.source.type":
  editor:
    preferredLineLength: 110
    tabLength: 4
".ini.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.jsx.source":
  editor:
    autoIndentOnPaste: true
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: false
    tabLength: 4
".languagebabel.ttlextension":
  editor:
    preferredLineLength: 120
    tabLength: 4
".md.text":
  editor:
    preferredLineLength: 120
    tabLength: 4
".menhir.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".ocaml.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".ocamllex.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".reason.source":
  editor:
    preferredLineLength: 110
    tabLength: 4
